@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Geist:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body{
  width: 100%;
  background-color: #F9FAFB !important;

}
:root{
  --bungeeFont: 'Bungee',san-serif;
  --geistFont: 'Geist',san-serif;
}
#root{
  padding: 10px 100px;
}

/* Header */
header{
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #F9FAFB !important;
}
.logo-name{
  font-family: var(--bungeeFont);

}
html{
  scroll-padding: 70px;
}
ul{
  list-style: none;
}
.nav-item  a{
  text-decoration: none;

}
ul li{
  transition: 0.3s ease-in-out;
}
ul li a,
.mode a{
  font-family: var(--bungeeFont);
  
}
.home{
  min-height: 90vh;
}

/* font section */
.geist-font{
  font-family: var(--geistFont);
}
.burgee-font {
  font-family: var(--bungeeFont);
  font-size: clamp(1rem, 3.6vw, 5rem);
}

/* hero image */
#home-hero-image {
  animation: heroMovement 1.5s ease-in-out infinite alternate;
}

@keyframes heroMovement {
  from {
    transform: translateY(-5px);
  }

  to {
    transform: translateY(5px);
  }
}

/* tech item */
.tech-item{
  transition: .3s ease-in-out;
}

.tech-item:hover{
  transform: translateY(-5px);
}

/* education  */
.education-container{
  position:relative;
}
.card-container{
  padding: 0 50px;
}

.card-container .item{
  height: 100%;
  position:relative;
}
.card-container .item::after{
  content: '';
  position: absolute;
  width: 2px;
  top:17px;
  left: -20px;
  height: 100%;

  border: 2px solid rgba(0,0,0,0.2);
 
}
.card-container .item h5::after{
  content: '';
  position: absolute;
  left:-25px;
  top:5px;
  width: 15px;
  border-radius: 50%;
  height: 15px;
  
  border: 3px solid black;

}
.card-container .item h5.active::after{
  background-color: black;
}
.card-container .item.active h5::after > {
  background-color: black;
}
.home-item{
  flex: 1 1 0;
}

@media (max-width:768px) {
  
}
@media (max-width:900px) {
  .home-hero,
  .home-hero img{
    display: none !important;
  }
 
}
/* certificate */
.certificate-item{
  transition: .3s ease-in-out;
  cursor: pointer;
}
.certificate-item:hover{
  transform: translateY(-5px);
}
/* project section */
/* .project-item{
  min-height: 400px;
} */
 
.project-img{
  height: 300px;
  overflow: hidden;
}
.project-img img{
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover !important;
  object-position: center;
}