@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Geist:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body{
  width: 100%;
  background-color: #F9FAFB !important;

}
:root{
  --bungeeFont: 'Bungee',san-serif;
  --geistFont: 'Geist',san-serif;
}
#root{
  padding: 10px 100px;
}

/* Header */

.logo-name{
  font-family: var(--bungeeFont);

}
ul{
  list-style: none;
}
.nav-item  a{
  text-decoration: none;

}
ul li{
  transition: 0.3s ease-in-out;
}
ul li a,
.mode a{
  font-family: var(--bungeeFont);
  
}
.home{
  min-height: 90vh;
}

/* font section */
.geist-font{
  font-family: var(--geistFont);
}
.burgee-font {
  font-family: var(--bungeeFont);
  font-size: clamp(1rem, 3.6vw, 5rem);
}

/* hero image */
#home-hero-image {
  animation: heroMovement 1.5s ease-in-out infinite alternate;
}

@keyframes heroMovement {
  from {
    transform: translateY(-5px);
  }

  to {
    transform: translateY(5px);
  }
}

/* tech item */
.tech-item{
  transition: .3s ease-in-out;
}

.tech-item:hover{
  transform: translateY(-5px);
}
